<!-- (ngSubmit)="verwerken(keuzen)"  -->



<form #keuzen="ngForm" (ngSubmit)="VerstuurNaarDB(keuzen)"  >
  <table>
    <th>Opties:</th>
   <tr>Naam: <input name="name" [(ngModel)]="name" ></tr>
   <p>Value: {{ name }}</p>
    <tr *ngFor="let optie of opties">
      <!-- <td>{{optie.optie}}</td> -->
      <td><input type="checkbox" ngModel [name]="optie.id" > {{optie.optie}}</td>
    </tr>
    <tr>
      <button type="submit">Opties Opslaan</button>

    </tr>
  </table>
  <pre>
     {{keuzen.value|json}}
  </pre>
</form>
