<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <form #kenteken_zoek="ngForm" (ngSubmit)="nu(kenteken_zoek)">
        <table>
            <tr>Kenteken:<input name="name" [(ngModel)]="name" placeholder="XX-XX-XX"></tr>
            <!-- SELECTOR RAPPORTAGE -->
            <div *ngIf="rapportageHistorie">
                Rapportage: <select id="RapportageSelector" name="rapportage-historie"
                    [(ngModel)]="rapportageHistorie.id" (click)="selecteerRapportage(rapportageHistorie.id)">
                   
                    
                    <option *ngFor="let rap of rapportageHistorie" 
                        [value]="rap.id" [attr.selected]="rap.id == 70 ? true : null">{{rap.naam}}</option>
                </select>

            </div>
            <!-- EINDE SELECTOR RAPPORTAGE -->


            <tr><button type="submit" class="btn btn-primary">Zoeken</button></tr>
        </table>
    </form>


    <div *ngIf="selectedOpties ">
        <div *ngFor="let optie of selectedOpties">

            {{optie.optie}} - {{getRdwData(optie.optie)}}

        </div>

    </div>



</div>