

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">

<form #kenteken_zoek="ngForm" (ngSubmit)="nu(kenteken_zoek)">
 Kenteken: <input name="name" [(ngModel)]="name" placeholder="XX-XX-XX">
 <button type="submit" class="btn btn-outline-success">Zoeken</button>
</form>



<form #Rapportage_input="ngForm" (ngSubmit)="nu(Rapportage_input)" >
    <table>
    Kenteken: <input type="text" name="kenteken" placeholder="XX-XX-XX"><br>
    

<select name="rapportage-historie" [(ngModel)] = "rapportageHistorie.id">
<option *ngFor="let rap of this.rapportageHistorie" value={{rap.id}}>
    {{rap.naam}}
    
</option>
</select>
    <tr>   <button type="submit" class="btn btn-outline-success">Opties Opslaan</button></tr>
     
    </table>
</form>

<pre>
        
{{Rapportage_input.value|json}}
{{Rap}}
{{kenteken_zoek.value|json}}

</pre>

  <!-- dan gevensophalen van de rdw op basis kenteken -->



  
  <!-- filteren op basis van rapportage-historie -->


</div>

<!-- DUMP -->
   <!-- <tr *ngFor="let Opties of rapportagehistorie">
        <td><input type="checkbox" ngModel [name]="Opties.naam" >"test"</td>
    </tr> -->
<!-- EINDE DUMP -->