<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">

                  <form>
                    <div class="form-row">
                      <!-- input box plus submit sectie -->
                      <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input type="text" class="form-control form-control-lg" maxlength="7" placeholder="AB 1234">
                      </div>
                      <div class="col-12 col-md-3">
                        <button type="submit" class="btn btn-block btn-lg btn-primary">Zoek</button>
                      </div>
                      <!-- einde -->
                    </div>
                  </form>
                </div>
